.chat-display {
	display: flex;
	flex-direction: row;
	background-color: #f7edf0;
	.conversations {
		width: 30%;
		.conversations-list {
			height: 88vh;
			overflow-y: scroll;
		}
	}
}

.chat {
	padding-top: 11vh;
}
