
.login-select {
  margin-top: 12px;
  max-width: 55px;
  max-height: 55px;
  color: black;
  font-family: 'Cuprum', sans-serif;

  background-color: palevioletred;
  border: 2px solid palevioletred;
}

.login-select:hover {
  outline: none;
}

#demo-simple-select-label {
  color: black;
  font-family: 'Cuprum', sans-serif;

  top: 10px;
  font-size: x-large;
  max-width: 300px;
}

.login-drop-down-item {
  font-size: 1.05em;
}