main#main-container {
	background-color: #f7edf0;
}

ul.cards {
	display: flex;
	flex-wrap: wrap;
	// justify-content: center; ????

	// padding-right: 80px;
	padding-left: 130px; //hardcoded for now, come back later
	// justify-content: space-evenly;
}

section.profile-container {
	// position: fixed;
	margin-top: 18vh;
	// background-repeat: inherit;
}
