.newMessageForm {
	height: 10vh;
	width: calc(100% - 300px);
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	position: fixed;
	bottom: 0;
	padding-bottom: 20px;
}

.new-message-textbox {
	margin-left: 10px;
	width: calc(100% - 78px);
	word-wrap: break-word;
	resize: none;
}
.new-message-submit {
	margin-right: 10px;
	border: none;
	background-color: white;
	color: #60b0f4;
	font-size: 1.1em;
	width: 50px;
	padding-bottom: 3px;
}
