.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #5accfd;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #5accfd;
}

.App-link {
	color: #5accfd;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.nav {
	display: flex;
	justify-content: flex-start;
	border-bottom: gray 1px solid;
	background-color: white;
	align-items: center;
	position: fixed;
	opacity: 100%;
	z-index: 50;
	width: 100%;
	height: 15vh;
}

.Button {
	background-color: #5accfd;
	color: #5accfd;
}
.nav .alert {
	color: red;
	font-weight: bold;
}

.drop-down-main {
	max-height: 2em; /* Not working - make shorter*/
	position: fixed;
	right: 20px;
	top: 20px;
	width: 120px;
}

.drop-down-filter {
	position: fixed;
	left: 20px;
	top: 130px;
	min-width: 140px;
}

.nav a {
	text-decoration: none;
}
.nav-bar-link {
	color: #30343f;
	padding-bottom: 20px;
	padding-left: 50px;
}

#nav-bar-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#id {
	justify-self: flex-end;
}

main {
	padding-top: 15vh;
	margin-left: 30px;
}

#logo {
	opacity: 100%;
	padding-top: 20px;
}
