.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #5accfd;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #5accfd;
}

.App-link {
	color: #5accfd;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.nav {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px rgb(35, 33, 33);
	background-color: white;
}

.Button {
	background-color: #5accfd;
	color: #5accfd;
}
.nav-bar-link p .alert {
	color: red;
}

.drop-down-main {
	max-height: 2em; /* Not working - make shorter*/
}

.nav-bar-link {
	color: #30343f;
}
