.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.nav {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: space-around;
	border-bottom: 5px solid rgb(35, 33, 33);
	background-color: #d87093;
	opacity: 80%;
	z-index: 99;
}

.nav .alert {
	background-color: red;
}

.nav .dropDownMain {
	max-height: 2em; /* Not working - make shorter*/
	border-color: red;
	background-color: white;
}

.nav .home-button {
	font-size: x-large;
	background-color: forestgreen;
}

.nav .home-logo {
	display: flex;
	flex-direction: row;
	position: relative;

	/* background-color: #d87093; */
	font-family: 'Shrikhand', cursive;
	top: -20px;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

.home-logo p {
	/* z-index: 0; */
	/* background-color: palevioletred; */
	text-align: center;
	position: relative;
	top: -20px;
	left: 10px;
	font-size: 3em;
}

#bridge-logo {
	width: 7em;
	height: 7em;
	top: -5px;
}