.messages-list-item {
	border-radius: 15px;
	border: black solid 1px;
	padding: 1%;
	margin-top: 5px;
	align-items: flex-start;
	width: fit-content;
	max-width: 60%;
	text-align: left;
	list-style-type: none;
	word-wrap: break-word;
}

.initializer {
	display: none;
}
