.popup-box {
  flex-direction: column;
	background-color: hsla(240, 85%, 13%, 0.9);
  color: rgb(234, 204, 204);
  text-shadow:  5px 5px 3px #000000;
  font-family: 'Cuprum', sans-serif;
  position: fixed;
  height: 85vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  border: 3px solid rgba(1, 11, 26, 0.5);
  border-radius: 10%;
  box-shadow: 6px 6px 5px 9999px rgba(1, 11, 26, 0.5);;
  padding: 4;
}

#modal-modal-title {
  display: flex;
  position: relative;
  justify-content: center;
  color: rgb(234, 204, 204);

  margin: 7%;
  font-size: xx-large;
}

#modal-modal-description {
  margin: 7%;
  position: relative;
}

.popup-img {
  position: relative;
  max-width: 35%;
  border-radius: 50%;
  box-shadow: 7px 7px 8px 8px hsla(240, 88%, 7%);
}

.popup-top {
  margin-top: 7%;
  display: flex;
  justify-content: space-evenly;
}

.popup-button {
  display: flex;
  justify-content: space-evenly;
  margin-top: -15px; //bandaid fix to hold button in parent
}

img#edit-button {
	position: relative;
	width: 45px;
	top: 5px;
}