@use "@material/card";
@include card.core-styles;

.profile-card {
	display: flex;
	flex-direction: column;
	min-width: 225px;
	background-color: red;
	.expand-profile-button:hover {
		background-color: #c0c059;
	}
}

.profile-card:hover {
	background-color: hsl(26, 13%, 44%, 0.65);
}

div.mdc-card {
	position: relative;
	// border: 1px solid rgb(139, 7, 7);
	border-radius: 8%;
	padding: 1%; //Was 2%.. how do we like this?  little tighter
	// max-width: 90px ;
	margin: 2%;
	font-family: "Cuprum", sans-serif;
	font-size: 1.5em;
	color: rgb(4, 0, 0);
	align-items: center; //Doesn't look too bad when name text is to the left
	text-shadow: 2px 2px 3px #9a7d7d;
	background-color: hsl(180, 83%, 79%, 0.4);
	box-shadow: 6px 6px 5px rgb(63 107 169 / 34%);
	flex-basis: 15%;
	// overflow: hidden;
}

div.mdc-card:hover {
	box-shadow: 10px 10px 12px rgba(6, 27, 57, 0.5);

	.profile-img {
		max-width: 100%;
		border-radius: 25%;
		box-shadow: 5px 5px 8px rgba(3, 19, 42, 0.25);
		// border-style: solid;
		// border-color: rgba(5, 5, 61, 0.85);
	}
}

.profile-img {
	max-width: 100%;
	border-radius: 20%;
}

ul {
	padding: auto;
}

.languages-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: -10px;
	i {
		font-size: 0.7em;
		padding-bottom: 2px;
		padding-left: 2px;
		padding-right: 2px;
	}
}

.native {
	font-size: 25px;
}
.learning {
	font-size: 25px;
}

#speak-logo {
	width: 35px;
	margin-right: 25px;
}

#hear-logo {
	width: 35px;
	margin-left: 29px;
}
