@use "@material/card";
@include card.core-styles;


div.mdc-card {
	border: 2px solid rgb(43, 0, 0);
	border-radius: 8%;
	padding: 2%;
	width: 50%;
	margin: 5%;
	font-family: 'Cuprum', sans-serif;
	font-size: 1.5em;
	color: white;
	background-color: rgba(5, 5, 61, 0.85);
	box-shadow: 5px 5px rgb(63 107 169 / 34%);
	flex-basis: 20%; //Makes it 3 per line --- 33.333% == 4 per line
}


div.mdc-card:hover {
	box-shadow: 9px 9px rgba(20, 59, 114, 0.50);

	.profile-img {
		max-width: 100%;
		border-radius: 30%;
		border-style: solid;
		border-color: rgba(3, 3, 50, 0.85);
	}
}


.profile-img {
	max-width: 100%;
	border-radius: 20%;
}

ul {
	padding: auto;
}

.languages-container {
	display: flex;
	justify-content: center;
	align-items: center;
	i {
		font-size: 0.7em;
		padding-bottom: 2px;
		padding-left: 2px;
		padding-right: 2px;
	}
}

.native {
	font-size: 25px;
}
.learning {
	font-size: 25px;
}
